.container {
  padding: 100px 20px 20px 20px;

  &_heading {
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 7rem;
    color: #272727;
    word-wrap: break-word;
    max-width: 1040px;
    padding-left: 100px;
    margin-bottom: 150px;
  }
  &_member {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    padding-left: 150px;
    &_img {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;

      img {
        z-index: 2;
        max-height: 600px;
        top: 5px;
      }
      svg {
        position: absolute;
        z-index: 1;
      }
    }

    &_info {
      padding-right: 20px;
      padding-left: 200px;
      max-width: 1000px;
      &_name {
        font-size: 80px;
        font-weight: 700;
        color: #272727;
        line-height: 70px;
      }
      &_about {
        font-size: 1.5rem;
        font-weight: 500;
        color: #393838;
      }
    }
  }
}

@media only screen and (max-width: 1025px) {
  .container {
    &_heading {
    font-size: 64px;
    font-weight: 700;
    line-height:74px;
    color: #272727;
    word-wrap: break-word;
    max-width: 1040px;
    
    margin-bottom: 150px;
  }
    &_member {
      flex-direction: column;
      padding-left: 20px;
      &_img {
        padding-left: 20px;
      }
      &_info {
        padding-left: 50px;
        padding-right: 0px;
        padding-top: 0px;
      }
    }
  }
}
