.container {
  display: flex;
  flex-direction: column;
}
.mainHeroContainer {
  display: flex;
  flex-direction: column;
}
@keyframes loading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0%;
    width: 0%;
  }
}
.innerSectionHolderContact{ 
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.innerSectionHolderContact img{
  width: 40%;
}
.contactFormHolder{
  background-image: linear-gradient(
    180deg,
    #53309a 0%,
    #9b0fab 28.7%,
    #d76893 100%
  );
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.fifthSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loadingBanner[data-load="false"] {
  background: var(--gradient);
  width: 100%;
  z-index: 101;
  height: 100%;
  position: fixed;
  transition: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  /*   
  animation: loading 1s ease-in-out 1s;
  animation-fill-mode: forwards; */
}
.loadingBanner h1 {
  padding: 0;
  margin: 0;
  line-height: 4rem;
  font-size: 4rem;
}
.loadingBanner p {
  padding: 0rem;
  margin: 0rem;
  line-height: 1.925rem;
  font: 1.925rem;
}
.loadingBanner[data-load="true"] {
  background: var(--gradient);

  position: fixed;
  opacity: 0;
  width: 0px;
  height: 0px;

  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  /*   
  animation: loading 1s ease-in-out 1s;
  animation-fill-mode: forwards; */
}
.mobileSection {
  display: none;
}
.thirdSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  gap: 7.3rem;
  padding-right: 40px;
  margin-bottom: 100px;
}
.forthSection {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  gap: 7.3rem;
  padding-right: 40px;
  margin-bottom: 100px;
}
.textHolderThirdSection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 40%;
}
.sectionTittle {
  font-size: 5rem;
  color: var(--textMainColor);
  line-height: 5rem;
  padding: 0rem;
  margin: 0rem;
}
.sectionSubTittle {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--textMainColor);
}
.sectionText {
  font-size: 1.5rem;
}
.sectionImgHolder {
  max-width: 800px;
  border-radius: 60px;
  overflow: hidden;
}
.sectionImgHolder img {
  width: 100%;
}
.innerSectionHolder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.innerTittles {
  color: var(--textMainColor);
  font-size: 2rem;
  line-height: 1.5rem;
  padding: 0rem;
  margin: 0rem;
}

.workContainerInner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.workContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 40px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 1024px) {
  .thirdSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    gap: 4rem;
    padding-right: 40px;
    margin-bottom: 100px;
  }
  .contactFormHolder img{
    display: none;
  }
  .innerSectionHolderContact{
    align-items: center;
    justify-content: center;
  }
  .forthSection {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    gap: 4rem;
    padding-right: 40px;
    margin-bottom: 100px;
  }
  .textHolderThirdSection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 40%;
  }
  .sectionTittle {
    font-size: 4rem;
    color: var(--textMainColor);
    line-height: 5rem;
    padding: 0rem;
    margin: 0rem;
  }
  .sectionSubTittle {
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--textMainColor);
  }
  .sectionText {
    font-size: 1rem;
  }
  .sectionImgHolder {
    max-width: 800px;
    border-radius: 60px;
    overflow: hidden;
  }
  .sectionImgHolder img {
    width: 100%;
  }
  .innerSectionHolder {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .innerTittles {
    color: var(--textMainColor);
    font-size: 1.5rem;
    line-height: 1rem;
    padding: 0rem;
    margin: 0rem;
  }
}
@media only screen and (max-width: 768px) {
  .workContainer {
    padding: 0rem;
  }
  .mainHeroContainer {
    flex-direction: column-reverse;
    min-height: 100vh;
  }
  .firstHeroHolder {
    padding: 0rem;
    margin-bottom: -0.5rem;
  }
  .mobileSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--darkPurple);
    color: white;
    width: 100%;
    height: 100vh;
  }
  .mobileSection h2 {
    font-weight: 400;
    font-size: 2rem;
  }

  .thirdSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    gap: 4rem;
    padding-right: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .forthSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    gap: 4rem;
    padding-right: 40px;
    margin-bottom: 100px;
  }
  .textHolderThirdSection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 100%;

    text-align: center;
  }
  .sectionTittle {
    font-size: 3rem;
    color: var(--textMainColor);
    line-height: 3rem;
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    text-align: center;
  }
  .sectionSubTittle {
    font-size: 1.25rem;
    width: 100%;
    line-height: 1.25rem;
    text-align: center;
    color: var(--textMainColor);
  }
  .sectionText {
    font-size: 1rem;
  }
  .sectionImgHolder {
    max-width: 800px;
    border-radius: 60px;
    overflow: hidden;
  }
  .sectionImgHolder img {
    width: 100%;
  }
}
