.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  h3 {
    padding: 0rem;
    margin: 0rem;
    line-height: 15rem;
  }
  h2 {
    margin: 0rem;
    padding: 0rem;
    font-weight: 600;
    max-width: 15rem;
    line-height: 5.1rem;
  }

  &_achivementsHolder {
    display: flex;
    gap: 1rem;
    &_achivement {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1.125rem;

      h5 {
        font-weight: 400;
      }
      h4,
      h5 {
        padding: 0rem;
        margin: 0rem;
      }
    }
  }
}
//Mobile design
@media only screen and (max-width: 550px) {
  .counter {
    h2 {
      line-height: 5rem;
    }

    h3 {
      line-height: 7rem;
    }
    &_achivementsHolder {
      gap: 3rem;
      &_achivement {
        gap: 1rem;
      }
    }
  }
}
@media only screen and (max-width: 350px) {
  .counter {
    h2 {
      line-height: 4rem;
    }
    &_achivementsHolder {
      gap: 2rem;
    }
  }
}
